*.exe
Debug/
Debug\
Release/
Release\
bin/
bin\
obj/
obj\
packages/
packages\
_UpgradeReport_Files/
_UpgradeReport_Files\
_ReSharper.*/
_ReSharper.*\

*.vsp
*.sdf
*.ipch
*.pdb
*.pch
*.dpf
*.ilk
*.user
*.suo
*.cache
*.opensdf
*.suo
*.vspx

UpgradeLog.htm
UpgradeLog.XML

.idea/
.idea\
