*.exe
Debug/
Release/
bin/
obj/
run commandline/
Release_No_MT_Build/
Real_Run_Commandline/
packages/
_UpgradeReport_Files/
_ReSharper.*/

*.vsp
*.sdf
*.ipch
*.pdb
*.pch
*.dpf
*.ilk
*.user
*.suo
*.cache
*.opensdf
*.suo
*.vspx

UpgradeLog.htm
UpgradeLog.XML

.idea/
